[Desktop Entry]
Encoding=UTF-8
Name=TUMessenger
Exec=/usr/bin/tumessenger
Icon=/usr/share/tumessenger/TU.png
Terminal=false
Type=Application
Categories=Network;